body{
    background-color: #F8F8F8;
    font-family: "Lexend Deca";
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

#sidebar{
    position: fixed;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    background-color: #F8F8F8;
}

#logo{
    min-height: 160px;
    min-width: 160px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 48px;
}

#logo-big{
    display: inline-block;
    margin-top: 14px;
}

#logo-small{
    display: none;
}

#sidebar h1{
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
}

#description{
    font-weight: 400;
    font-size: 15px;
    padding: 16px 24px;
    margin-top: 32px;
    background-color: #FFFFFF96;
    border-radius: 12px;
}

#inputarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 108px;
    background-color: #FFFFFF96;
    border-radius: 12px;
}

#inputdescription{
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
}

#inputtext{
    height: 40px;
    width: 160px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #CFCDE5;
    text-align: center;
    cursor: text;
}

#inputtext::placeholder{
    color: #B1B1B1;
    font-size: 15px;
}

#inputtext:focus::placeholder{
    color: #FFFFFF;
}

#inputtext:focus{
    outline: none;
}

#copyinput{
    position: relative;
    margin: 20px 0 4px 0;
    height: 44px;
    width: 160px;
    font-size: 15px;
    font-weight:400;
    color: #FFFFFF;
    background-color: #706C96;
    border: 1px solid #706C96;
    border-radius: 22px;
    transition: .18s;
    cursor: pointer;
}

#copyinput:hover{
    background-color: #7F7BA1;
}

#copyinput:active{
    background-color: #7F7BA1;
    top:2px;
}

#snackbarcontainer{
    position: fixed;
    margin-top: 681px;
    width: 260px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
}

#snackbar{
    position: relative;
    margin-top: 40px;
    bottom:0px;
    height: 48px;
    width: 160px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 48px;
    color: #FFFFFF;
    background-color: #F4AB08;
    opacity: 0;
}

#copyright-default{
    position: fixed;
    height: 60px;
    width: 260px;
    margin-top: calc(100vh - 60px);
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 44px;
    font-size: 14px;
    color: #404040;
    z-index: 1;
}

#buttonarea{
    position:relative;
    width: calc(100% - 260px);
    height: 100%;
    margin-left: 260px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#categorybuttonarea{
    position: fixed;
    width: calc(100% - 260px);
    height: 104px;
    box-sizing: border-box;
    padding: 42px 0px 18px 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    background-color: #F8F8F8;
    color: #000000;
    z-index: 1;
}

#categorybuttonarea::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

@mixin kaomojibuttonarea{
    // position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-top: 92px;
    padding: 20px 0 40px 24px;
    font-size: 16px;
    color: #000000;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
}

#kaomojibuttonarea-all{
    @include kaomojibuttonarea;
    display: flex;
}

#kaomojibuttonarea-happy{
    @include kaomojibuttonarea;
    padding-top: 0px;
    display: none;
}

#kaomojibuttonarea-surprised{
    @include kaomojibuttonarea;
    padding-top: 0px;
    display: none;
}

#kaomojibuttonarea-angry{
    @include kaomojibuttonarea;
    padding-top: 0px;
    display: none;
}

#kaomojibuttonarea-sad{
    @include kaomojibuttonarea;
    padding-top: 0px;
    display: none;
}

#kaomojibuttonarea-action{
    @include kaomojibuttonarea;
    padding-top: 0px;
    display: none;
}

.categotytitle{
    height: 60px;
    width: 100%;
    line-height: 60px;
}

@mixin categorybutton{
    height: 44px;
    padding: 0px 20px;
    margin-right: 20px;
    white-space: nowrap;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border: 1px solid #F4AB08;
    border-radius: 16px;
    background-color: #FFFFFF;
    transition-timing-function: ease-in-out;
    transition: .18s;
    cursor: pointer;
    &:hover{
        background-color: #F4AB0820;
    }
    &:active{
        background-color: #F4AB08;
        color: #ffffff;
        transition-timing-function: ease;
        transition: .1s;
    }
    &:disabled{
        background-color: #F4AB08;
        color: #ffffff;
        transition-timing-function: ease;
        transition: .1s;
    }
}

#categorybutton-all{
    @include categorybutton;
}

#categorybutton-happy{
    @include categorybutton;
}

#categorybutton-surprised{
    @include categorybutton;
}

#categorybutton-angry{
    @include categorybutton;
}

#categorybutton-sad{
    @include categorybutton;
}

#categorybutton-action{
    @include categorybutton;
}

.kaomojibutton{
    display: inline-block;
    height: 44px;
    padding: 0px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border: 1px solid #CFCDE5;
    border-radius: 16px;
    background-color: #FFFFFF;
    transition-timing-function: ease-in-out;
    transition: .18s;
    cursor: pointer;
}

.kaomojibutton:hover{
    background-color: #CFCDE520;
}

.kaomojibutton:active{
    background-color: #706C96;
    border: 1px solid #706C96;
    color: #ffffff;
    transition-timing-function: ease;
    transition: .1s;
}

#copyright-rwd{
    height: 40px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 14px;
    color: #404040;
}

@media screen and (max-width:540px){
    #sidebar{
        width: 100%;
        height: 64px;
        padding-top: 8px;
        flex-direction: row;
        align-items: center;
    }

    #logo{
        min-height: 48px;
        min-width: 48px;
        margin-top: 0px;
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    #logo-big{
        display: none;
    }

    #logo-small{
        display: inline-block;
        margin-top: 4px;
    }

    #sidebar h1{
        margin-top: 0px;
        margin-left: 16px;
        white-space: nowrap;
        font-size: 18px;
    }

    #description{
        margin-top: 0px;
        margin-left: calc(100% - 357px);
        white-space: nowrap;
        padding: 12px;
    }

    #inputarea{
        display: none;
    }

    #snackbarcontainer{
        width: 100%;
        margin-top: 100vh;
        padding-top: 0px;
        padding-bottom: 40px;
        display: flex;
        align-items: flex-end;
    }

    #snackbar{
        margin-top: 0px;
    }

    #copyright-default{
        display: none;
    }

    #copyright-rwd{
        display: flex;
    }

    #buttonarea{
        width: 100%;
        margin-left: 0px;
        padding-top: 64px;
    }

    #categorybuttonarea{
        width: 100%;
        height: 68px;
        padding: 12px 16px;
    }

    @mixin kaomojibuttonarea-540{
        margin-top: 68px;
        padding: 12px 0px 32px 16px;
    }

    #kaomojibuttonarea-all{
        @include kaomojibuttonarea-540;
    }
    
    #kaomojibuttonarea-happy{
        @include kaomojibuttonarea-540;
    }
    
    #kaomojibuttonarea-surprised{
        @include kaomojibuttonarea-540;
    }
    
    #kaomojibuttonarea-angry{
        @include kaomojibuttonarea-540;
    }
    
    #kaomojibuttonarea-sad{
        @include kaomojibuttonarea-540;
    }
    
    #kaomojibuttonarea-action{
        @include kaomojibuttonarea-540;
    }
    
    .kaomojibutton{
        margin-right: 16px;
        margin-bottom: 16px;
    }

}

@media screen and (max-width:360px){
    #description{
        display: none;
    }
}